# Hello Pythoneer!

You've learnt about Python conventions and common practices in the previous lesson. Today, you will execute the first few lines of Python code (Spoiler: Sorry, not HelloWorld).

*Author: Yu Yuen Hern, Skymind Holdings Berhad*

# Variables

## Recap: Naming rules for variables

Let's recap some of the naming rules for variables.

1. Python variables can only begin with a letter (A-Z or a-z) or an underscore.

In [ ]:
9lives=9

SyntaxError: ignored

*Quiz: Did you find any other convention violations in the above code line?*

The correct way:

In [ ]:
# Correct
var = 0
var

0

In [ ]:
# Correct
_9lives = "cat"
_9lives

'cat'

2. The rest of the identifier may contain letters (A-Z or a-z), underscores(_) and numbers (0-9).

In [ ]:
# Correct
year2 = "Sophomore"
year2

In [ ]:
# Incorrect
_$$ = 7

SyntaxError: ignored

3. Python is case-sensitive. "Name" and "name" are two different identifiers.

In [ ]:
name = "Skymind" # declare a string variable here

In [ ]:
name

'Skymind'

In [ ]:
Name

NameError: ignored

4. Reserved words (keywords) cannot be used as identifier names.

--- | --- | Reserved | Keywords | --- | ---
--- | --- | ----- | ------ | --- | ---
and	| def	| False | import | not | True
as | del | finally | in | or | try
assert | elif | for | is | pass | while
break | else | from | lambda | print | with
class | except | global | None | raise | yield
continue | exec | if | nonlocal | return

In [ ]:
False = 7

SyntaxError: ignored

## Assigning and reassigning

1. To assign a value, just name a variable and type the value after the equal sign. No type declaration needed.

In [ ]:
age = 18
print(age)

18

In [ ]:
age = "Dinosaur"
print(age)

Dinosaur

However, keep in mind to avoid declaring nonsensical variable names. Thus, `age = Dinosaur` doesn't make sense.

2. Variables in Python are unusable until a value is assigned.

In [ ]:
unassigned_variable

NameError: ignored

3. Identifier can only be at the left-hand side of the equal sign.

In [ ]:
18 = age

SyntaxError: ignored

4. Multiple assignments are possible in Python.

In [ ]:
age, city = 18, "Kuala Lumpur"
print(age,city)

18 Kuala Lumpur

5. You can also assign same value to multiple Python variables.

In [ ]:
age = num = 20
print(age,num)

20 20

## Swapping Variables

In [ ]:
var1, var2 = "mouse", "keyboard"
var1, var2 = var2, var1
print(var1,var2)

keyboard mouse

## Deleting variables

In [ ]:
var = # put any string
del var
print(var)

NameError: ignored

## End: Variables

You have known more about variables than you have ever been. Let's go over to data types!

# Data Types

Data types are important in order to perform operations. Different data types have different performable operations.

There are four numeric data types in Python: `int`, `float`, `long` (deprecated in Python 3.x) and `complex`.

You can use *type()* to check the data types of variables.

## Integers or int

Integers are the most basic data type, holding signed integers.

"Signed" means it has positive and negative signs.

In [ ]:
var1 = # try both positive and negative number
print(type(var1))

<class 'int'>

Integers can be of any length, with the only limitation being the available memory.

In [ ]:
var2 = # put a very long number, try 99999999999999999999999999999999999999999999999
print(type(var2))

<class 'int'>

## Float or float

Float holds floating-point real values. The difference between int and float is that int can only store "3" but float can store "3.3".

In [ ]:
var3 = # put a number with decimals
print(type(var3))

<class 'float'>

Let's do a quick example to demonstrate the difference between int and float.

In [ ]:
# Store a float in var_float
var_float = # put a decimal number with several floating points
print(type(var_float))

<class 'float'>

In [ ]:
var_int = int(var_float) # Convert into int
print(var_int)
print(type(var_int))

3
<class 'int'>

## Long

Long is deprecated in Python 3.x so let's not waste time on this.

## Complex

This data type holds a complex number. Essentially, a complex number looks like this:

$a + bj$

where $a$ and $b$ are the real parts of the number, and $j$ is imaginary.

In [ ]:
var_cplx = # put a complex number
print(type(var_cplx))

<class 'complex'>

Other than `type()`, you can also check if a Python variable belongs to a particular class using `isinstance(variable,class)`.

In [ ]:
print(isinstance(var_cplx,complex))

True

## Strings

`String` is a sequence of characters. In Python, there are no `char` data type, which is common in C++ or Java (wanna learn more about Java?).

You can delimit a string using single quotes or double quotes, but pick one method and stick to it. (Check Module 2-1 in this course or PEP8 for more information.)

In [ ]:
my_city = # put any string with double quotes
print(my_city)

Kuala Lumpur

In [ ]:
my_city = # put any string with single quotes
print(my_city)

Kuala Lumpur

**What can you do with a `String`?**

1. Spanning `string` across lines

In [ ]:
var_str = """I love
Skymind"""
print(var_str)

I love
Skymind

Quiz: What does `\n` and `\t` means?

In [ ]:
var_str = # write a string with "\n" in the middle of the string
print(var_str)

This is
a newline

In [ ]:
var_str = # write a string with "\t" in the middle of the string
print(var_str)

This is 	a tab

2. Displaying part of a `string`

You can display a character from a string using indexing. Note that all indexing in Python starts with 0 (beware, Matlab users!)

In [ ]:
longest_english_word = "pneumonoultramicroscopicsilicovolcanoconiosis"
print(longest_english_word[3])

u

**Fun fact:** "*pneumonoultramicroscopicsilicovolcanoconiosi*s" is actually the longest English word in any major English dictionaries.

You can also display more than one character using slicing.

In [ ]:
print(longest_english_word[3:5])

um

Quiz: Why only two characters displayed and not three?

3. Formatting `string`

String formatters allow us to print characters and values at once. There are three methods:

3a. Using `%` operator

In [ ]:
degree_year = # put your study duration here
university = # put your university name here
print("I am a graduate of %s after completing my %i-year degree." % (university, degree_year))

I am a graduate of Universiti Tun Hussein Onn Malaysia after completing my 4-year degree.

3b. Or you can use the `.format` method

In [ ]:
workplace = # put your dream company here
travelling_mins = # put your preferred travelling time here
print("I am working at {0} and I spent {1} minutes travelling to work daily.".format(workplace, travelling_mins))

I am working at Skymind Holdings Berhad and I spent 30 minutes travelling to work daily.

In [ ]:
print("I am working at {a} and I spent {b} minutes travelling to work daily.".format(a = "Skymind Holdings Berhad", b = 30))

I am working at Skymind Holdings Berhad and I spent 30 minutes travelling to work daily.

3c. Or you can use f-strings

In [ ]:
print(f"I am working at {workplace} and I spent {travelling_mins} minutes travelling to work daily.")

I am working at Skymind Holdings Berhad and I spent 30 minutes travelling to work daily.

Quiz: Without declaring `workplace` and `travelling_mins` in the previous block, why is there no error?

4. Concatenating strings

Concatenate means joining multiple things together.

In [ ]:
print("Deeplearning"+"4java")

Deeplearning4java

However, you cannot concatenate values of different types.

In [ ]:
print("Deeplearning"+4+"java")

TypeError: ignored

*P/s: Want to know more about Deeplearning4java?*

## Lists

A `list` is a collection of values. It can contain similar or different types of values.

To define a list, you have to put the values separated with commas `,` in square brackets `[]`. No type declaration needed for lists either.

In [ ]:
days_in_week = ["Sunday", "Monday", "Tuesday", 3, 4, 5, 6]
print(days_in_week)

['Sunday', 'Monday', 'Tuesday', 3, 4, 5, 6]

**After defining a list, what can you do with a list?**

1. You can slice a list using the same method like a `string`.

In [ ]:
print(days_in_week[]) # slice only "Monday" and "Tuesday"

['Monday', 'Tuesday']

Quiz: Isn't the output be `['Sunday', 'Monday', 'Tuesday']`?

2. Finding the length of string.

In [ ]:
print(len(days_in_week))

7

3. Reassigning elements in a list

In [ ]:
days_in_week[2] = 2
print(days_in_week)

['Sunday', 'Monday', 2, 3, 4, 5, 6]

4. Iterating on the `list`

We can use the `for` loop to iterate over a list. By doing this, we can access each element one by one and is often helpful when we need to perform some operations on each element in the list.

In [ ]:
num_in_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in num_in_list:
  pass # change this so that n is printed out

1
2
3
4
5
6
7
8
9
10

5. Creating multi-dimensional lists

In [ ]:
multidim_list = [[1, 2, 3], [4, 5, 6]]
print(multidim_list)

[[1, 2, 3], [4, 5, 6]]

Quiz: How many rows and columns in `multidim_list`?

## Tuples

A `tuple` is like a like a list. But you declare it using parentheses `()` instead.

In [ ]:
places_in_selangor = ("Petaling Jaya", "USJ", "Gombak")
print(places_in_selangor)

('Petaling Jaya', 'USJ', 'Gombak')

What you can do with `tuple` is similar to `list`, but not the other way round (you will understand this later).

1. Similarly to `list`, you can access and slice a `tuple`.

In [ ]:
print(places_in_selangor[2])

Gombak

In [ ]:
print(places_in_selangor[0:2])

('Petaling Jaya', 'USJ')

2. What you can do with `list` but not with `tuple` is changing its size or elements. A `tuple` is immutable once declared.

In [ ]:
places_in_selangor[1] = "Bangi" # Changing an element

TypeError: ignored

In [ ]:
places_in_selangor[3] = "Bangi" # Adding a new element

TypeError: ignored

## Dictionaries

A dictionary or `dict` holds key-value pairs. You declare it using curly braces `{}`, with pairs separated by commas `,` while keys and values are separated by a colon `:`.

In [ ]:
me = {"city":"Kuala Lumpur", "age":18}
print(me)

{'city': 'Kuala Lumpur', 'age': 18}

**What you can do with dictionaries?**

1. You can check its type using the `type()` function.

In [ ]:
# print out the type of the variable "me"

<class 'dict'>

2. You can access a value by mentioning its key.

In [ ]:
# print out the value of key "age"

18

3. You can reassign a value to a key.

In [ ]:
me["city"] = # choose another place
print(me["city"])

Petaling Jaya

4. You can use `keys()` function to get a list of keys in the dictionary

In [ ]:
print(me.keys())

dict_keys(['city', 'age'])

P/s: Another data type which is almost similar to Dictionaries is Sets or `set`. We are not going into this but you can read on this further in the Internet. Happy exploring!

## Boolean or bool

A `bool` value can be True or False.

In [ ]:
var_bool = 2 > 1
print(type(var_bool))

<class 'bool'>

## Type Conversion

Data types in Python are very dynamic. You can convert a variable into another type.

### Conversion involving integers

1. Converting to integer using `int()`

In [ ]:
print(int(9.81))

9

Notice that it truncated .81 instead of rounding the number off to 10.

Trivia: Calling all engineers, what does 9.81 mean to you?

2. Converting boolean into integer

In [ ]:
print(int(True))

1

In [ ]:
print(int(False))

0

3. However, you cannot convert a string into an integer. An error will show up.

In [ ]:
print(int("Pavillion KL"))

ValueError: ignored

4. But, if the string has only numbers, conversion is still possible.

In [ ]:
print(int("18"))

18

### Conversion involving floats

1. You can convert an integer into a float using `float()`.

In [ ]:
my_age = 18

In [ ]:
print(float(my_age))
print(type(float(my_age)))

18.0
<class 'float'>

2. Converting a decimal into float

In [ ]:
print(float(.7))
print(type(float(.7)))

0.7
<class 'float'>

3. Converting a boolean into float

In [ ]:
print(float(True))
print(type(float(True)))

1.0
<class 'float'>

### Conversion involving strings

1. Converting a value into string using`str()`.

In [ ]:
print(str(2.1))
print(type(str(2.1)))

2.1
<class 'str'>

2. Converting an integer into string

In [ ]:
print(str(2))
print(type(str(2)))

2
<class 'str'>

3. Converting a boolean into string

In [ ]:
print(str(True))
print(type(str(True)))

True
<class 'str'>

4. Converting a list, tuple or dictionary into a string

In [ ]:
print(str([1,1,2,3]))

[1, 1, 2, 3]

Trivia: Guess this number sequence!

### Conversion involving booleans

1. You can convert a value into boolean by using `bool()`

In [ ]:
print(bool(18))

True

In [ ]:
print(bool(0))

False

In [ ]:
print(bool(True))

True

In [ ]:
print(bool(0.1))

True

2. You can also convert a list into a boolean

In [ ]:
print(bool([1,-1]))

True

3. The function returns false if input is empty

In [ ]:
print(bool())

False

In [ ]:
print(bool([]))

False

In [ ]:
print(bool({}))

False

In [ ]:
print(bool(None))

False

### Conversion involving lists

1. You can convert a `string` into a `list`

In [ ]:
print(list("123456789"))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

2. You can also convert a `set` into a `list`

In [ ]:
print(list({1, 2, 3, 4, 5, 6, 7, 8, 9}))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. You can also convert a `dict` into a `list`

In [ ]:
print(list({"age":18, "workplace":"Skymind"}))

['age', 'workplace']

### Conversion involving tuples

1. You can use `tuple()` to convert values into tuple

In [ ]:
print(tuple({1, 2, 3, 4}))

(1, 2, 3, 4)

In [ ]:
print(tuple(list(set([1,2])))) # composite functions

(1, 2)

# The End

That is all you need to know about variables and data types (for now)! 

We did not touch Sets `set`, which is another data type in Python. This should be your homework for the week: **find out what is a set in Python.**

References:
1. https://www.programiz.com/python-programming/variables-datatypes